.container{
  background-color:#e6dace;
  padding: 2rem 0;
}

.container h2{
  text-align:center;
  font-size: 35px;
}

.card{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 725px;
  height:388px;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: #fff;
}

.cardNames{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.cardNames span{
  color: #0050ff;
  font-size: 42px;
  font-weight: bold;
}

.cardNames p{
  font-size: 19px;
}

.cardInfos{
  display: flex;
  flex-direction: column;
  margin-top:2rem;
  max-width:90%;
}

.cardInfos p{
  line-height:1.5rem;
  font-weight: 300;
}

.cardInfos button{
  border-radius: 2em;
  border: none;
  background-color: #0050ff;
  color: #fff;
  width: 224px;
  height:40px;
}