.containerHeader{
  width: 100vw;
  height: 125px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.insights{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-left: 30px;
}

.insights span{
  margin-right:1.2rem;
}

.blueSquare{
  display: block;
  background-color: #0050ff;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.containerTitle{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 100px;
}

@media (max-width:980px){
  .insights{
    display:none;
    visibility:hidden;
  }
}

@media (max-width:600px){
  .containerTitle h1{
    font-size: 22px;
  }
  .containerTitle{
    margin-left: 40px;
  }
}

@media (max-width:420px){
  .containerTitle h1{
    font-size: 18px;
  }
  .containerTitle{
    margin-left: 20px;
  }
}