.backgroundHome{
  display: flex;
  width: 100vw;
  height: 768px;
  background-image: url(../public/assets/backgroundRose.png);
  align-items: center;
  justify-content: center;
}

.contentHome{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 50%;
  z-index: 10;
}

.content{
  max-width: 100%;
}

.content h2{
  font-size: 80px;
  margin:0;
  padding: 0;
}

.content span{
  font-size:25px;
}

.content p{
  max-width:75%;
  font-size: 17px;
  line-height: 1.6rem;
}

.buttonsContainer{
  margin:2rem 0;
}

.buttonsContainer button{
  border-radius:2em;
  width: 130px;
  height:35px;
}
.buttonBlue{
  background-color:#0050ff;
  color:#fff;
  border: none;
}

.buttonWhite{
  background-color:#fff;
  color: #000;
  border:1px solid #000;
  margin-left:1rem;
}

.icons{
  left:260px;
  position:relative;
  top:230px;
  z-index: 999;
  display:flex;
  align-items: center;
  justify-content: center;
}

.imgShadow{
  box-shadow: -11.31px 11.31px 8px 0px rgba(138,131,124,0.23), 0 1px 4px rgba(0,0,0,.6);
}