.case{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 750px;
  height:450px;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: #fff;
}

.caseNames{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.caseNames h2{
  font-size: 20px;
  color:#0050ff;
  text-align: left;
  margin: 0px;
  padding:0 10px;
}

.caseNames span{
  padding:0 10px;
  font-size:17px;
  font-weight: 300;
}

.caseNames p{
  font-size: 15px;
  text-align:justify;
  padding:0 10px;
}

.buttonsContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonsContainer button{
  border-radius: 2em;
  background-color: #0050ff;
  width: 170px;
  height:33px;
  border:none;
  color: #fff;
  font-size: 11px;
}

.projectsVisual{
  width: 750px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textIntersectionAssets{
  font-weight: bold;
  font-size:25px;
  align-self: start;
  margin-bottom: 2rem;
}

.projectsVisual div{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.doctorsContainer{
  max-width:1300px;
  margin: 3rem auto;
}

.backgroundAssets{
  background-color: #fff;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.textIntersectionAssetsDoctors{
  font-weight: bold;
  font-size:25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridAssets{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:0px;
  max-width: 900px;
  align-items: center;
  justify-items: center;
  margin-bottom:2rem;
}
.gridAssets div{
  margin: 0;
  padding: 0;
  max-height:493px;
}

.fourAssets{
  display:grid;
  grid-template-columns: 1fr 1fr;
  max-height: 493px;
}

.backgroundAssets p{
  font-size: 15px;
  color: #767674;
  margin-bottom: 3rem;
}
.containerButtonsWebsites{
  max-width:40vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.containerButtonsWebsites button{
  width: 222px;
  height:38px;
  background-color:#0050ff;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius:2em;
}

@media (max-width: 1440px){
  .containerButtonsWebsites{
    max-width:80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
}

@media (max-width: 980px){
  .containerButtonsWebsites button{
    width: 100%;
    height:38px;
    padding:0px 20px;
    background-color:#0050ff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius:2em;
  }
  .case{
    display:grid;
    grid-template-columns: 1fr;
    width: 404px;
    height:100%;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: #fff;
  }
  .caseNames{
    padding: 2rem 10px;
  }
  .projectsVisual{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .doctorsContainer{
    max-width:90vw;
    margin: 3rem auto;
  }
  .textIntersectionAssetsDoctors{
    text-align: center;
    font-size:20px;
  }
}

@media (max-width: 600px){
  .containerButtonsWebsites{
    display:grid;
    grid-template-columns: 1fr;
  }
  .containerButtonsWebsites button{
    width: 280px;
  }
  .doctorsContainer p{
    max-width:80vw;
  }
  .gridAssets div{
    margin: 0;
    padding: 0;
    max-height:246.22px;
  }
  .case{
    width: 100vw;
  }
}